body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: #e2e8f0;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #2563eb, #7c3aed);
    color: white;
}

header h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 25px;
    font-weight: 400;
}

header p {
    max-width: 600px;
    margin: 20px auto;
    font-size: 18px;
}


nav {
    background: #111827;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #60a5fa;
}


section {
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
}


h2 {
    color: #60a5fa;
    font-size: 32px;
}


ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    list-style: none;
}

li {
    background: #1e293b;
    padding: 12px 20px;
    border-radius: 20px;
}


.project {
    background: #1e293b;
    padding: 25px;
    margin: 20px 0;
    border-radius: 15px;
    transition: transform .3s;
}

.project:hover {
    transform: translateY(-5px);
}


footer {
    text-align: center;
    padding: 30px;
    background: #111827;
}
